/* SCSS HEX */
$color-grey-0: #dcdcddff;
$color-silver-0: #c5c3c6ff;
$color-grey-1: #46494cff;
$color-black-1: #4c5c68ff;

$color-black-0: rgb(29, 35, 39);
$color-blue-0: #1985a1ff;

$color-pink: #f7afa1;
$color-azure: #5bc3eb;
$color-blue: #1688b6;
$color-indigo: #0b445b;
$color2: #2f97c1ff;
$color3: #1ccad8ff;
$color4: #ff8555;
$color-green: #0cf574ff;
$color-red: #e6152e;
$color-azure-2: #cae6f1;
//Choropleth
$color-green-1: #dcfadc;
$color-green-2: #329626;
$color-green-3: #003204;
$color-green-4: #001404;
$color4: #ffe2d6;
