$color-grey-1: #ede6e3;
$color-pink: #f7afa1;
$color-azure: #5bc3eb;
$color-blue: #1688b6;
$color-indigo: #0b445b;
$color-grey-2: #587291ff;
$color2: #2f97c1ff;
$color3: #1ccad8ff;
$color4: #e65015;
$color-green: #0cf574ff;
$color-red: #e6152e;
