$color-grey-1: #ede6e3;
$color-pink: #f7afa1;
$color-azure: #5bc3eb;
$color-blue: #1688b6;
$color-indigo: #0b445b;
$color-grey-2: #587291ff;
$color2: #2f97c1ff;
$color3: #1ccad8ff;
$color4: #ff8555;
$color-green: #0cf574ff;
$color-red: #e6152e;
$color-azure-2: #cae6f1;
$color-green: rgb(207, 246, 201);
$color-green: rgb(115, 248, 63);
$color-green: rgb(49, 170, 38);
$color-green: rgb(0, 82, 4);
$color4: #ffe2d6;
$color4: #ff8555;
$color4: #ff8555;
$color4: #ff8555;
